name: resuable deploy
on: 
  workflow_call:
      inputs:
        artifact-name:
          description: 'The name of the artifact to download'
          required: false
          type: string
          default: 'dist'
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Get build artifacts
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.artifact-name }}
      - name: List files
        run: ls -la
      - name: Output Information
        run: echo "deploying & uploading"
